$small: 576px;
$primary-color: #ffd700;
$boxshado: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
$secondary-color: linear-gradient(to top, #33624d, #799d63);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  //   height: 100%;
  .header-top {
    height: 45px;
    width: 100%;
    .container {
      .row {
        .col-md-6 {
          ul {
            li {
              list-style-type: none;
              padding: 10px;
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .header-icon:hover {
    background-color: rgb(66, 66, 240);
  }

  .header-icons:hover {
    background-color: rgb(179, 38, 28);
  }
  .header-middle {
    height: 80px;
    // background-color: gray;
    .container {
      border-bottom: 2px solid gray;
      .row {
        .col-md-4 {
          .logo {
            a {
              img {
                width: 100px;
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
    .col-md-8 {
      .shop-menu {
        ul {
          list-style-type: none;
          li {
            padding: 25px 20px 0 0;
            a {
              text-decoration: none;
              color: black;
            }
            a:hover {
              color: #fe980f;
            }
          }
        }
      }
    }
  }
  .header-bottom {
    height: 60px;
    ul {
      li {
        a:hover {
          color: #fe980f;
        }
      }
    }
  }
}

.slider {
  height: 100vh;
  color: white;
  #carouselExampleDark {
    height: 500px;
    .slider-top {
      .container {
        .row {
          .carousel-item {
            .slider-text {
              position: relative;
              top: 200px;
              .slider-top-button {
                font-size: 18px;
                width: 120px;
                border: 2px solid gold;
                transition: 1s;
                button {
                  color: white;
                }
              }
            }
            .slider-top-button:hover {
              background-color: rgb(240, 227, 57);
            }
            img {
              width: 500px;
              height: 600px;
            }
            @media screen and (max-width: $small) {
              img {
                opacity: 0.7;
                z-index: -2;
              }
            }
            .slider2 {
              position: relative;
              top: -60px;
            }
            .slider3 {
              position: relative;
              top: -120px;
              width: 500px;
              height: 700px;
            }
          }
        }
      }
    }
  }
}

.navigation {
  // height: 100vh;
  box-sizing: border-box;
  .navigation-left {
    height: 90%;
    width: 100%;
    background: linear-gradient(to right, #33624d, #799d63) !important;
    position: absolute;
    top: 0;
    z-index: -4;
    // opacity: 0.5;
  }

  @media screen and (max-width: $small) {
    .navigation-left {
      height: 150%;
    }
  }
  @media screen and (max-width: 576px) {
    .navigation-left {
      height: 120%;
    }
  }
  .navigation-right {
    height: 70%;
    width: 50%;
    background: linear-gradient(to left, #a3c88b, #d1ecc3);
    position: absolute;
    top: 143px;
    right: 0;
    z-index: -3;
    border-radius: 100px 0 0 20px;
  }
  @media screen and (max-width: $small) {
    .navigation-right {
      border-radius: 50px;
      width: 80%;
      height: 85%;
      margin: auto;
      position: absolute;
      top: 200px;
      right: 50px;
    }
  }
}

h3 {
  text-align: center;
}
.mains {
  margin-top: 50px;
  #main_text {
    margin-left: 10px;
    float: left;
    border: 0.2px solid gray;
    width: 250px;
    height: 450px;
    border-radius: $boxshado;
    .main-input {
      display: flex;
      flex-direction: column;
      padding: 20px;
      input {
        margin: 10px;
      }
      button {
        margin: 10px;
      }
    }
  }
  #main_carts {
    float: right;
    display: grid;
    grid-template-columns: auto, auto, auto;
    .main {
      .main_title {
        border: 1px solid gray;
        width: 250px;
        height: 380px;
        img {
          width: 245px;
          height: 250px;
        }
        p {
          text-align: center;
        }
        b {
          margin-left: 80px;
        }
        .main_desc {
          a {
            position: relative;
            width: 100px;
            text-decoration: none;
            display: inline-block;
            margin: 0 60px;
            padding: 10px 35px;
            color: black;
            border: 0.5px solid $primary-color;
            z-index: 1;
            transition: color 0.5s;
            span {
              width: 0%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: $secondary-color;
              z-index: -1;
              transition: 0.5s;
            }
          }
        }
        .main_desc a:hover span {
          width: 100%;
        }
        .main_desc a:hover {
          color: white;
        }
      }
    }
  }
}
